{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 3 versions"]
        },
        "debug": false
      }
    ]
  ],
  "plugins": [
      "@babel/plugin-proposal-class-properties"
  ]
}
